%h1 New Episode

= styled_flash
= error_messages_for :episode

-form_for @episode, :builder => FabulousBuilder do |f|
  =f.text_field :title
  =f.text_field :publish
  =f.text_area :description
  =f.file_field :enclosure
  =f.submit
  
  